@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
p {
  line-height: 1.5;
  color: #FFFFFF;
}

h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
}

a, p, h1, h2 {
  margin: 0;
  font-family: "Roboto-Regular";
}

p {
  margin-bottom: 17px;
}

a {
  font-size: 11px;
  text-decoration: none;
  line-height: 16.5px;
  color: #FFFFFF;
}

body {
  margin: 0;
  background-color: #08020d;
}

.music-box {
  padding: 0;
  margin-right: 16px;
  background-color: unset;
  background-size: contain;
  border: none;
  cursor: pointer;
}

#page-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  top: 25px;
}

.forms {
  display: flex;
}

.search {
  height: 15px;
  background: #3C3B3D;
  border-radius: 50px;
  padding: 5px 0 5px 10px;
  border: none;
}

.name, .Email {
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: solid 2px #cacaca;
  border-radius: 3px;
  background: transparent;
  font-family: "Roboto-Regular";
  font-size: 14px;
  min-height: 45px;
}

.name::placeholder, .Email::placeholder {
  color: #FFFFFF;
}

.get-access {
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #34C176;
}

.col-1 {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1240px) {
  #main-section {
    display: flex;
    justify-content: center;
    background-image: url(/Hexlet_Project2/layout-designer-project-56/src/images/banner.png);
    background-position: center;
    background-size: cover;
  }
  .w-1200 {
    width: 1200px;
  }
  h1 {
    font-size: 60px;
    line-height: 90px;
  }
  h2 {
    font-size: 38px;
    line-height: 57px;
    margin-bottom: 30px;
  }
  .forms, .button {
    max-width: 570px;
  }
  .search {
    width: 238px;
  }
  .menu {
    display: flex;
    width: 1200px;
  }
  .col-3 {
    display: flex;
    align-items: center;
  }
  .mr-90 {
    margin-right: 90px;
  }
  .col-2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-self: flex-start;
    grid-gap: 24px;
  }
  .col-2 a:nth-child(n+2) {
    color: #cacaca;
  }
  .ml-auto {
    margin-left: auto;
  }
  #page-description {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .name, .Email {
    min-width: 245px;
  }
  .Email {
    margin-left: 25px;
  }
  .get-access {
    width: 570px;
  }
}
@media screen and (max-width: 1239px) {
  #main-section {
    background-image: url(/Hexlet_Project2/layout-designer-project-56/src/images/banner.png);
    background-position: center;
    background-size: cover;
  }
  #page-description {
    padding-top: 250px;
    padding-bottom: 250px;
  }
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  p {
    margin-top: 16px;
    text-align: center;
  }
  #page-description > h1 {
    text-align: center;
  }
  .w-1200 {
    padding: 0 20px;
  }
  .menu {
    width: calc(100% - 40px);
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    margin: 18px 0;
  }
  .col-2 a:nth-child(1) {
    color: #E0E0E0;
  }
  .col-2 a:nth-child(even) {
    color: #cacaca;
  }
  .search {
    width: calc(100% - 10px);
  }
  .forms {
    flex-direction: column;
    align-items: center;
  }
  .forms, form {
    width: 100%;
  }
  .name, .Email {
    width: calc(100% - 25px);
  }
  .button {
    display: flex;
    justify-content: center;
  }
  .button, .get-access {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
