@media screen and (max-width: 1239px) {
    .buttons {
        row-gap: 1.5rem;
    }
    .artist-main-section {
        padding: 225px 0;
      }
      .discography-item, .discography-item > img {
        width: 137px;
      }
      .discography-item > img {
        height: 137px;
      }
}