@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

@mixin index-bg-image {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}

p {
  line-height: 1.5;
  color: $h-color;
}

h1, h2, h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: $h-color;
}
  
a, p, h1, h2 {
  margin: 0;
  font-family: "Roboto-Regular";
}
h3 {
  font-family: "Roboto-Regular";
}

a {
font-size: 11px;
text-decoration: none;
line-height: 16.5px;
color: $h-color;
}

body {
  margin: 0;
  background-color: $background-color;
}

.music-box {
  padding: 0;
  margin-right: 16px;
  background-color: unset;
  background-size: contain;
  border: none;
  cursor: pointer;
}

#page-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  top: 25px;
}

.forms {
  display: flex;
}

.search {
  height: 15px;
  background: #3C3B3D;
  border-radius: 50px;
  padding: 5px 0 5px 10px;
  border: none;
}

.name, .Email {
padding-left: 20px;
margin-bottom: 1.5rem;
border: solid 2px $p-color;
border-radius: 3px;
background: transparent;
font-family: "Roboto-Regular";
font-size: 14px;
min-height: 45px;
}

.name::placeholder, .Email::placeholder {
color: $h-color;
}

@mixin padlr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.get-access {
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: $h-color;
  background-color: #34C176;
}

.col-1 {
  display: flex;
  align-items: center;
}

@mixin p-top {
  padding-top: 100px; ;
}
#page-pricing {
  @include p-top
}
.h-subscription > h2 {
text-align: center;
margin-bottom: 50px;
}
.pricing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 1rem;
}
.pricing-item > h3 {
  margin-bottom: 200px;
}
.pricing-footer {
  font-size: 12.8px;
  line-height: 19.2px;
  text-align: center;
  margin: 64px 0;
}  
.pricing-value {
font-size: 64px;
line-height: 64px;
margin-bottom: 40px;
}
.rub {
  font-size: 32px;
  line-height: 48px;
  vertical-align: top;
}
.bg-free {
  background-image: url(../images/subscribe_1.png);
  background-position: center;
  background-size: cover;
}
.bg-standart {
  background-image: url(../images/subscribe_2.png);
  background-position: center;
  background-size: cover;
}
.bg-premium {
  background-image: url(../images/subscribe_3.png);
  background-position: center;
  background-size: cover;
}
.btn {
  width: 100%;
  padding: 20px 0;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: transparent;
  color: #FFFFFF;
}
.subscription-footer {
  margin-top: 40px;
  text-align: center;
}