@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

p {
  line-height: 1.5;
  color: $p-color;
}

h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: $h-color;
}
  
p, h1, h2 {
  margin: 0;
  font-family: "Roboto";
}

body {
  margin: 0;
  background-color: $background-color;
}

#page-description {
  background-image: url(/Hexlet_Project2/layout-designer-project-56/src/images/banner.png);
  background-position: center;
  background-size: cover;
}