@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

@mixin index-bg-image {
  background-image: url(/Hexlet_Project2/layout-designer-project-56/src/images/banner.png);
  background-position: center;
  background-size: cover;
}

p {
  line-height: 1.5;
  color: $p-color;
}

h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: $h-color;
}
  
a, p, h1, h2 {
  margin: 0;
  font-family: "Roboto-Regular";
}

a {
font-size: 11px;
text-decoration: none;
line-height: 16.5px;
color: $h-color;
}

body {
  margin: 0;
  background-color: $background-color;
}

.music-box {
  padding: 0;
  margin-right: 16px;
  background-color: unset;
  background-size: contain;
  border: none;
  cursor: pointer;
}
