@media screen and (min-width: 1240px) {
@mixin flex-center {
  display: flex;
  justify-content: center;
}
.background {
  @include flex-center;
  @include index-bg-image;
}
.w-1200 {
  width: 1200px;
}
h1 {
  font-size: 60px;
  line-height: 90px;
}
h2 {
  font-size: 38px;
  line-height: 57px;
}
h3{
  font-size: 24px;
  line-height: 36px;
}
.forms, .button {
  max-width:  570px; ;
}
.search {
  width: 238px;
}
.menu {
  display: flex;
  width: 1200px;
}
.col-3 {
  display: flex;
  align-items: center;
}
.mr-90 {
  margin-right: 90px;
}
.col-2 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-self: flex-start;
  grid-gap: 24px;
}
.col-2 a:nth-child(n + 2) {
  color: $p-color;
}
.ml-auto{
  margin-left: auto;
}
.background {
padding-top: 200px;
padding-bottom: 200px;
}
.main-section > h2 {
margin-bottom: 30px;  
}
.main-section > p {
margin-bottom: 17px;
}
.name, .Email {
min-width: 245px;
}
.Email {
margin-left: 25px;
}
.get-access{
  width: 570px;
}
#page-pricing, #page-news, #page-app, #page-footer {
  @include flex-center;
}
.subscription-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.news-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}
.news-body > h3 {
  margin-top: 0;
  font-size: 30px;
  line-height: 45px;
}
.mob-text, .mob-img {
  flex: 1;
}
.mob-img {
  display: flex;
  justify-content: center;
}
#page-footer {
  flex-direction: column;
  align-items: center;
}
.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.footer-bottom > ul {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  column-gap: 16px;
}
}
