@media screen and (max-width: 1239px) {
.main-section {
  padding-top: 250px;
  padding-bottom: 200px;
  }
.main-section > p {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 17px;
}
.main-section > h1 {
  text-align: center;
}
.w-1200 {
@include padlr-20
}
.menu {
  width: calc(100% - 40px);
}
.col-2 {
  display: flex;
  flex-direction: column;
  margin: 18px 0;
}
.search {
  width: calc(100% - 10px);
}
.forms {
  flex-direction: column;
  align-items: center;
}
.forms, form {
  width: 100%;
}
.name, .Email {
  width: calc(100% - 25px);
}
.button {
  display: flex;
  justify-content: center;
}
.button, .get-access {
  width: 100%;
}
.subscription-types > .pricing-item:nth-child(2) {
  margin: 50px 0;
}
.news-body > h3{
  font-size: 16px;
  line-height: 24px;
}
.news-item > img {
  width: 100%;
}
.news-body > h3 {
  margin: 50px 0 16px;
}
.mob-app {
  flex-direction: column-reverse;
}
.mob-img {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.footer-top {
  display: grid;
  row-gap: 14px;
}
.footer-bottom > ul {
  display: grid;
  row-gap: 16px;
}
}